dotenv_if_exists .env
dotenv_if_exists .api_key

CY_SAAS_API_KEY="$(op read "op://Cycloid/API_prod_cycloid/identifiant")"
export CY_SAAS_API_KEY

if has nix; then
  watch_file flake.nix
  use flake . -Lv --log-format raw

  if [ -f ../.envrc ]; then
      source_env ../.envrc
  fi
fi
