swagger: '2.0'
info: # TODO: https://github.com/cycloidio/youdeploy-http-api/issues/7 Fill all the fields of this section before opening the API outside Cycloid
  title: Cycloid.io
  description: ''
  termsOfService: ''
  contact:
    name: ''
    url: 'http://cycloid.io'
    email: contact@cycloid.io
  license:
    name: 'Cycloid @copyrights'
    url: 'http://cycloid.io'
  version: '0'
host: 'http-api-stoplight.cycloid.io'
schemes:
  - https
consumes:
  - application/vnd.cycloid.io.v1+json
produces:
  - application/json
securityDefinitions:
  api_key:
    type: apiKey
    description: The API authorization is done with JWT tokens
    in: header
    name: Authorization
security:
  - api_key: []
tags:
  - name: Cycloid
    description: Operation related to Cycloid's application.
  - name: Organizations
    description: Operations for organizations.
  - name: Organization teams
    description: Operations for teams which belong to an organization.
  - name: Organization projects
    description: Operations for projects which belong to an organization.
  - name: Organization members
    description: Operations for members of an organization.
  - name: User
    description: Operations for the authenticated user.
  - name: Organization pipelines
    description: Operations regarding pipelines in an organization.
  - name: Organization pipelines jobs
    description: Operations on jobs belonging to a pipeline.
  - name: Organization pipelines jobs build
    description: Operations on build of a job from a pipeline.
  - name: Organization Infrastructure
    description: Operations on the infrastructure of an organization
  - name: Organization Environments
    description: >-
      Operations to perform on an environment associated to a project of an
      organization.
  - name: Organization Logs
    description: Operations on the logs of a project
  - name: Organization Billing
    description: Operations on the Organization Billing
  - name: Organization Children
    description: Operations on the children of an organization
parameters:
  page_index:
    name: page_index
    description: The page number to request. The first page is 1.
    in: query
    type: integer
    format: uint32
    default: 1
  page_size:
    name: page_size
    description: The number of items at most which the response can have.
    in: query
    type: integer
    format: uint32
    default: 10
  default:
    name: default
    description: Value describing whether to return default
    in: query
    type: boolean
    default: false
  organization_canonical_query:
    name: organization_canonical
    description: A canonical of a organization used for filtering.
    in: query
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  child_canonical_query:
    name: child_canonical
    description: A canonical of a child organization used for filtering.
    in: query
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  project_canonical_query:
    name: project
    description: A canonical of a project used for filtering.
    in: query
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  project_name_query:
    name: project_name
    description: Search by project's name
    in: query
    type: string
  project_created_at_query:
    name: project_created_at
    description: Search by project's creation date
    in: query
    type: string
    format: date-time
  project_description_query:
    name: project_description
    description: Search by project's description
    in: query
    type: string
  team_name_query:
    name: team_name
    description: Search by team's name
    in: query
    type: string
  team_created_at_query:
    name: team_created_at
    description: Search by team's creation date
    in: query
    type: string
    format: date-time
  team_description_query:
    name: team_description
    description: Search by team's description
    in: query
    type: string
  service_catalog_status_query:
    name: service_catalog_status
    description: The status of the catalogservice used for filtering.
    in: query
    type: string
  service_catalog_own_query:
    name: service_catalog_own
    description: >
      Filters the Service Catalogs to only show the ones owned
      by the User Organization
    in: query
    type: boolean
  service_catalog_trusted_query:
    name: service_catalog_trusted
    description: >
      Filters the Service Catalogs to only show the ones that are from trusted
      source (Cycloid)
    in: query
    type: boolean
  owner_query:
    name: user_id
    description: Search by entity's owner
    in: query
    type: integer
    format: uint32
  order_by_query:
    in: query
    name: order_by
    type: string
    description: >
      Allows to order the list of items. Example usage: field_name:asc
  concourse_page_since:
    name: concourse_page_since
    description: The time after which we should look for entities to return.
    in: query
    type: integer
    format: int64
    default: 0
  concourse_page_until:
    name: concourse_page_until
    description: The time before which we should look for entities to return.
    in: query
    type: integer
    format: int64
    default: 0
  concourse_page_limit:
    name: concourse_page_limit
    description: The number of items at most which the response can have.
    in: query
    type: integer
    format: int64
    default: 10
  cost_tag_key:
    name: key
    description: The key of a tag
    in: query
    required: false
    type: string
    minLength: 3
    maxLength: 127
    pattern: '^[\w\-+=.:/@ ]+$'
  cost_granularity_filter:
    name: granularity
    description: >-
      Sets the AWS cost granularity to MONTHLY or DAILY.
    in: query
    required: true
    allowEmptyValue: false
    type: string
    enum:
      - MONTHLY
      - DAILY
  cost_metrics_filter:
    name: metrics
    description: >-
      Which metrics are returned in the query. For more information about blended
      and unblended rates, see https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/.

      Valid values are BlendedCost, UnblendedCost, and UsageQuantity.

      If you return the UsageQuantity metric, the service aggregates all usage
      numbers without taking into account the units. For example, if you aggregate
      usageQuantity across all of EC2, the results aren't meaningful because EC2
      compute hours and data transfer are measured in different units (for example,
      hours vs. GB). To get more meaningful UsageQuantity metrics, filter by UsageType
      or UsageTypeGroups.
    in: query
    type: array
    required: true
    collectionFormat: multi
    allowEmptyValue: false
    uniqueItems: true
    items:
      type: string
      enum:
        - BlendedCost
        - UnblendedCost
        - UsageQuantity
  cost_begin_filter:
    name: begin
    description: >-
      Sets the start date for retrieving AWS costs. The start date is inclusive.
    in: query
    type: string
    required: true
    minLength: 10
    maxLength: 10
    pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
  cost_end_filter:
    name: end
    description: >-
      Sets the end dates for retrieving AWS costs. The end date is exclusive.
    in: query
    type: string
    required: true
    minLength: 10
    maxLength: 10
    pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
  cost_services_filter:
    name: services
    description: >-
      The names of the services that you can use to filter and group your results.
    in: query
    required: false
    collectionFormat: multi
    allowEmptyValue: false
    type: array
    items:
      type: string
  cost_group_by_filter:
    name: group_by
    description: >-
      Represents a group when you specify a group by criteria, or in the response to a
      query with a specific grouping.
    in: query
    type: array
    allowEmptyValue: false
    collectionFormat: multi
    uniqueItems: true
    items:
      type: string
      pattern: '^(?:(?:[^|]+\|[^|]+)|(?:\|[^|]+)|(?:[^|]+\|))$'
  organization_canonical:
    name: organization_canonical
    description: A canonical of an organization.
    in: path
    required: true
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  environment_canonical_query:
    name: environment
    description: The environment canonical to use a query filter
    in: query
    type: string
    minLength: 1
    maxLength: 30
    pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
  environment_canonical:
    name: environment_canonical
    description: The environment canonical to use as part of a path
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 30
    pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
  cache_path_query:
    name: cache_path
    description: The cache path to use as part of a clearTaskCache request
    in: query
    required: false
    type: string
    default: ""
  team_canonical:
    name: team_canonical
    description: A canonical of a team.
    in: path
    required: true
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  project_canonical:
    name: project_canonical
    description: A canonical of a project.
    in: path
    required: true
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  username:
    name: username
    description: A username
    in: path
    required: true
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  pipeline_name:
    name: inpath_pipeline_name
    description: A pipeline name
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 100
    pattern: '^[a-z0-9]+[a-z0-9\-_.]+[a-z0-9]+$'
  pipeline_name_query:
    name: pipeline_name
    description: A pipeline name
    in: query
    required: true
    type: string
    minLength: 1
    maxLength: 100
    pattern: '^[a-z0-9]+[a-z0-9\-_.]+[a-z0-9]+$'
  build_id:
    name: build_id
    description: A build id
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 20
  job_name:
    name: job_name
    description: A job name
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 150
  step_name:
    name: step_name
    description: A step name from a job task
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 150
  resource_name:
    name: resource_name
    description: A resource name
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 150
  filter_version:
    name: filter_version
    description: A version of a resource
    in: query
    type: array
    items:
      type: string
    required: false
    minLength: 1
  resource_version_id:
    name: resource_version_id
    description: A resource's version id
    in: path
    required: true
    type: integer
    format: uint64
  service_catalog_ref:
    name: service_catalog_ref
    description: A Service Catalog name
    in: path
    required: true
    type: string
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+:[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  use_case_canonical:
    name: use_case_canonical
    description: A use case canonical
    in: path
    required: true
    type: string
    minLength: 3
    maxLength: 30
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  credential_id:
    name: credential_id
    description: A Credential id
    in: path
    required: true
    type: integer
    format: uint32
  credential_id_query:
    name: credential_id
    description: A Credential id
    in: query
    required: true
    type: integer
    format: uint32
  credential_id_not_required_query:
    name: credential_id
    description: A Credential id
    in: query
    type: integer
    format: uint32
  credential_type_query:
    name: credential_type
    description: A Credential type
    in: query
    type: string
    enum:
      - ssh
      - aws
      - custom
      - azure
      - azure_storage
      - gcp
      - basic_auth
      - elasticsearch
      - swift
  git_url_query:
    name: git_url
    description: Git URL to repository
    in: query
    required: true
    type: string
    pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
  external_backend_id:
    name: external_backend_id
    description: External Backend ID
    in: path
    required: true
    type: integer
    format: uint32
  service_catalog_source_id:
    name: service_catalog_source_id
    description: Organization Service Catalog Sources ID
    in: path
    required: true
    type: integer
    format: uint32
  config_repository_id:
    name: config_repository_id
    description: Organization Config Repositories ID
    in: path
    required: true
    type: integer
    format: uint32
  aws_next_token:
    name: next
    description: The token to retrieve the next page of results
    in: query
    type: string
    minLength: 1
  aws_infrastructure_resource_query:
    name: resource
    description: >-
      Supported AWS type of resource to query.
      The parameter can be specified several times in order to request for different kind of resources.
    in: query
    type: array
    allowEmptyValue: false
    collectionFormat: multi
    uniqueItems: true
    items:
      type: string
      enum:
        - instances
        - vpcs
        - images
        - security_groups
        - subnets
        - volumes
        - snapshots
        - cache_clusters
        - load_balancers_v1
        - load_balancers_v2
        - db_instances
        - buckets
  aws_tags:
    name: tag
    description: >-
      An amazon tag, represented as `key|value` and where `key` or `value`
      could be omitted but not both, in order to select resources which has
      a `key` or a `value` whatever is its counterpart.
      `key` nor `value` can contains the `|` character.
      The parameter can be specified several times in order to request resources
      which match with at least one of the `tag|value` pairs
    in: query
    type: array
    allowEmptyValue: false
    collectionFormat: multi
    uniqueItems: true
    items:
      type: string
      minLength: 2
      maxLength: 383
      pattern: '^(?:(?:[\w\-+=.:/@ ]+\|)|(?:\|[\w\-+=.:/@ ]+)|(?:[\w\-+=.:/@ ]+\|[\w\-+=.:/@ ]+))$'
  timestamp_range_begin_query:
    name: begin
    description: >-
      The unix timestamp in milliseconds, which indicate the start of the time
      range.
    in: query
    type: integer
    format: uint64
    required: false
  timestamp_range_end_query:
    name: end
    description: >-
      The unix timestamp in milliseconds, which indicate the end of the time
      range.
    in: query
    type: integer
    format: uint64
    required: false
  raw_query:
    name: query
    description: >-
      A free text which the content depends of the context of the API endpoint.
      Can be a free text value or a comple query expressed of supported query
      language.
    in: query
    type: string
    required: false
    minLength: 1
  log_source_id:
    name: log_source_id
    description: >-
      A unique identifier, which group log's entries under under a context,
      established by the source.
    in: path
    required: true
    type: string
    minLength: 1
  event_type:
    name: type
    description: >-
      Specify the types of the events to be requested.
      The returned events must have one of the specified types.
    in: query
    type: array
    required: false
    allowEmptyValue: false
    collectionFormat: multi
    items:
      type: string
      enum:
        - Cycloid
        - AWS
        - Monitoring
        - Custom
  event_severity:
    name: severity
    description: >-
      Specify the severities of the events to be requested.
      The returned events must have one of the specified severities.
    in: query
    type: array
    required: false
    allowEmptyValue: false
    collectionFormat: multi
    items:
      type: string
      enum:
        - info
        - warn
        - err
        - crit
  provider_canonical:
    name: provider_canonical
    description: A canonical of a Provider
    in: path
    required: true
    type: string
    minLength: 3
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  resource_canonical:
    name: resource_canonical
    description: A canonical of a Resource
    in: path
    required: true
    type: string
    minLength: 3
    pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  role_id:
    name: role_id
    description: Organization Role ID
    in: path
    required: true
    type: integer
    format: uint32
  verification_token:
    name: verification_token
    description: A token for verifying emails, invitations, etc.
    in: path
    required: true
    type: string
    minLength: 5
  social_type:
    name: social_type
    description: The OAuth Social type
    in: path
    required: true
    type: string
    enum:
      - azuread
  oauth_code:
    name: oauth_code
    description: The OAuth code returned form the Social Provider
    required: true
    in: query
    type: string
responses:
  not_found_entity_in_path:
    description: >-
      The response sent when any of the entities present in the path is not
      found.
    schema:
      $ref: '#/definitions/ErrorPayload'
    headers:
      Content-Length:
        description: The length of the response body in octets (8-bit bytes).
        type: integer
        format: int64
    examples:
      application/json:
        errors:
          - message: Entity not found
            code: NotFoundEntity
  not_enough_permissions:
    description: >-
      The authenticated user cannot perform the operation because, it doesn't
      have permissions for such operation.
    schema:
      $ref: '#/definitions/ErrorPayload'
    headers:
      Content-Length:
        description: The length of the response body in octets (8-bit bytes).
        type: integer
        format: int64
    examples:
      application/json:
        errors:
          - message: Not enough permissions to perform the operation
            code: Unauthorized
  unexpected_error:
    description: >-
      The response sent when an unexpected error happened, as known as an
      internal server error.
    schema:
      $ref: '#/definitions/ErrorPayload'
    headers:
      Content-Length:
        description: The length of the response body in octets (8-bit bytes).
        type: integer
        format: int64
    examples:
      application/json:
        errors:
          - message: Server Internal error
            code: Unexpected
  unprocessable_entity:
    description: >-
      All the custom errors that are generated from the Cycloid API
    schema:
      $ref: '#/definitions/ErrorPayload'
    headers:
      Content-Length:
        description: The length of the response body in octets (8-bit bytes).
        type: integer
        format: int64
    examples:
      application/json:
        errors:
          - message: some error
            code: SomeCode
  unauthenticated:
    description: >-
      The user cannot be authenticated with the credentials which she/he
      has used.
    headers:
      Content-Length:
        description: The length of the response body in octets (8-bit bytes).
        type: integer
        format: int64
    schema:
      $ref: '#/definitions/ErrorPayload'
    examples:
      application/json:
        errors:
          - code: Unauthenticated
            message: invalid credentials
  required_content_length_header:
    description: The request has a body but it doesn't have a Content-Length header.
  retry_operation:
    description: >-
      The operation couldn't be executed or completed and it should retried.
    headers:
      Retry-After:
        description: The number of seconds to wait until retry the request
        type: integer
        format: uint16
    schema:
      $ref: '#/definitions/ErrorPayload'
    examples:
      application/json:
        errors:
          - code: RetryOperation
            message: Operation must be retried.
definitions:
  AppVersion:
    title: AppVersion
    type: object
    required:
      - version
      - branch
      - revision
    properties:
      version:
        description: The version of the application.
        type: string
        minLength: 5
      branch:
        description: The Git branch used to build the application.
        type: string
        minLength: 1
      revision:
        description: The Git revision used to build the application.
        type: string
        minLength: 8
        maxLength: 40
  GeneralStatus:
    title: GeneralStatus
    type: object
    required:
      - status
      - message
      - checks
    properties:
      status:
        description: The overall status for the application.
        type: string
        enum:
          - Unknown
          - Success
          - Error
      message:
        description: Message providing information regarding the status.
        type: string
        minLength: 1
      checks:
        description: List of all checks report type/name/status.
        type: array
        items:
          $ref: '#/definitions/CheckReport'
  CheckReport:
    title: CheckReport
    type: object
    required:
      - canonical
      - category
      - status
      - message
    properties:
      canonical:
        description: The name of the service checked.
        type: string
        minLength: 1
      category:
        description: The category of the service checked.
        type: string
        minLength: 1
      status:
        description: The status of the service checked.
        type: string
        enum:
          - Unknown
          - Success
          - Error
      message:
        description: The message providing information regarding the state of the service.
        type: string
        minLength: 1
  Pagination:
    title: Pagination
    type: object
    required:
      - total
      - index
      - size
    properties:
      total:
        description: The total number of items.
        type: integer
        format: int64
        minimum: 0
      index:
        description: The index of the page sent (the first page is 1).
        type: integer
        format: int64
        minimum: 1
      size:
        description: The size of the page (the number of entities per page)
        type: integer
        format: int64
        minimum: 1
  PaginationConcourse:
    title: PaginationConcourse
    type: object
    required:
      - next
      - previous
    properties:
      next:
        $ref: '#/definitions/PageConcourse'
        x-nullable: true
      previous:
        $ref: '#/definitions/PageConcourse'
        x-nullable: true
  PageConcourse:
    title: PageConcourse
    type: object
    required:
      - since
      - until
      - limit
    properties:
      since:
        description: Entities returned should have a higher timestamp than this one
        type: integer
        format: int64
      until:
        description: Entities returned should have a lower timestamp than this one
        type: integer
        format: int64
      limit:
        description: The maximum number of entities to return
        type: integer
        format: int64
  PaginationAWS:
    title: AWS Pagination
    type: object
    required:
      - next
    properties:
      next:
        description: >-
          The token to retrieve the next page of results.
          Empty string when there isn't a next page.
        type: string
  OrganizationBasicInfo:
    title: Organization basic information
    description: >-
      The entity which holds the basic and essential information of an
      organization.
    type: object
    required:
      - id
      - canonical
      - blocked
      - ci_team_name
      - name
      - created_at
      - updated_at
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      ci_team_name:
        type: string
      name:
        type: string
        minLength: 3
      blocked:
        type: array
        items:
          type: string
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  Organization:
    title: Organization
    description: >-
      The entity which holds all the direct information attached to an
      organization.
    type: object
    required:
      - id
      - canonical
      - ci_team_name
      - name
      - blocked
      - created_at
      - updated_at
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      ci_team_name:
        type: string
      name:
        type: string
        minLength: 3
      blocked:
        type: array
        items:
          type: string
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  NewOrganization:
    title: Create Organization
    description: >-
      The entity which represents a new organization to create in the
      application.
    type: object
    required:
      - canonical
      - name
    properties:
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
  BillingInformation:
    title: Organization Billing Information
    description: The billing information of the Organization
    type: object
    required:
      - name
      - email
      - created_at
      - updated_at
    properties:
      name:
        type: string
      email:
        format: email
      language:
        type: string
      phone:
        type: string
      address:
        $ref: '#/definitions/BillingInformationAddress'
      tax_information:
        $ref: '#/definitions/BillingInformationTaxInformation'
      subscription:
        $ref: '#/definitions/BillingInformationSubscription'
      source:
        $ref: '#/definitions/BillingInformationSource'
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  NewBillingInformation:
    title: Organization Billing Information
    description: The billing information of the Organization
    type: object
    required:
      - name
      - email
    properties:
      name:
        type: string
      email:
        format: email
      language:
        type: string
      phone:
        type: string
      address:
        $ref: '#/definitions/BillingInformationAddress'
      tax_information:
        $ref: '#/definitions/BillingInformationTaxInformation'
  BillingInformationAddress:
    title: Billing Information Address
    description: The address of the billing
    properties:
      city:
        type: string
      country:
        type: string
      line1:
        type: string
      line2:
        type: string
      postal_code:
        type: string
      state:
        type: string
  BillingInformationTaxInformation:
    title: Billing Information Tax Information
    description: Tax information of the billing
    required:
      - tax_id
      - type
    properties:
      tax_id:
        type: string
      type:
        type: string
  BillingInformationSubscription:
    title: Billing Information Subscription
    description: The information about the Subscription
    required:
      - amount
      - quantity
      - current_period_end
    properties:
      amount:
        type: number
        format: float64
        minimum: 0
      quantity:
        type: integer
        format: int64
        minimum: 0
      current_period_end:
        type: integer
        format: int64
        minimum: 0
  BillingInformationSource:
    title: Billing Information Source
    description: The information about the Source
    required:
      - last4
      - expiration_month
      - expiration_year
      - brand
    properties:
      last4:
        type: string
        minLength: 4
        maxLength: 4
        pattern: '^\d{4}$'
      expiration_year:
        type: integer
        format: int8
      expiration_month:
        type: integer
        format: int8
        minimum: 1
      brand:
        type: string
  BillingInformationStart:
    title: Billing Information Start
    description: The information needed to start the Billing
    required:
      - client_secret
    properties:
      client_secret:
        type: string
  UpdateOrganization:
    title: Update Organization
    description: >-
      The entity which represents the information of an organization to be
      updated.
    type: object
    required:
      - name
    properties:
      name:
        type: string
        minLength: 3
  PendingInvite:
    title: PendingInvite
    description: Contains the email used for the invitation
    type: object
    required:
      - email
    properties:
      email:
        type: string
        format: email
  Team:
    title: Team
    description: The entity which represents the information of a team.
    type: object
    required:
      - id
      - canonical
      - name
      - owner
      - created_at
      - updated_at
      - roles
      - member_count
      - members_preview
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
      owner:
        $ref: '#/definitions/MemberOrg'
        description: |
          Organization member that owns this team. When a user is the owner of a
          team it has all the permissions on it.
          In the event where the user has been deleted this field might be empty.
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
      roles:
        type: array
        items:
          $ref: '#/definitions/Role'
        minItems: 1
      member_count:
        description: The total count of members of the team.
        type: integer
        format: uint32
      members_preview:
        description: Preview of the list of team members, limited to 6 members.
        type: array
        items:
          $ref: '#/definitions/MemberTeam'
        maxItems: 6
  NewTeam:
    title: Create Team
    description: The entity which represents the information of a new team.
    type: object
    required:
      - canonical
      - name
      - roles_id
    properties:
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
      owner:
        type: string
        description: |
          User canonical that owns this team. If omitted then the person
          creating this team will be assigned as owner. When a user is the
          owner of a team it has all the permissions on it.
      roles_id:
        description: The roles to be assigned to a team.
        type: array
        items:
          type: integer
          format: uint32
  UpdateTeam:
    title: Update Team
    description: The entity which represents the information of the team to be updated.
    type: object
    required:
      - canonical
      - name
      - owner
      - roles_id
    properties:
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
      owner:
        type: string
        description: |
          User canonical that owns this team. Only the owner or an
          organization admin can update this field. When a user is the owner
          of a team it has all the permission on it.
      roles_id:
        description: The roles to be re-assigned to a team.
        type: array
        items:
          type: integer
          format: uint32
  ProjectsItem:
    title: Projects Item
    description: >-
      The information of a project when is shown in a list
    type: object
    required:
      - id
      - canonical
      - name
      - service_catalog_ref
      - created_at
      - updated_at
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
      description:
        type: string
      environments:
        type: array
        items:
          type: string
          pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
      service_catalog_ref:
        description: >-
          It's the ref of the Service Catalog, like 'cycloidio:stack-magento'
        type: string
      service_catalog_name:
        type: string
      owner:
        $ref: '#/definitions/MemberOrg'
        description: |
          Organization member that owns this project. When a user is the owner of a
          project it has all the permissions on it.
          In the event where the user has been deleted that field might be empty.
      cloud_provider:
        $ref: '#/definitions/CloudProvider'
        description: |
          The cloud provider object that this project is using.
          In the event where the cloud provider is not yet defined/supported
          that field might be empty.
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  Project:
    title: Project
    description: The entity which represents the information of a project.
    type: object
    required:
      - id
      - canonical
      - name
      - service_catalog_ref
      - created_at
      - updated_at
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
      description:
        type: string
      environments:
        type: array
        items:
          type: string
          pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
      service_catalog_ref:
        description: >-
          It's the ref of the Service Catalog, like 'cycloidio:stack-magento'
        type: string
      owner:
        $ref: '#/definitions/MemberOrg'
        description: |
          Organization member that owns this project. When a user is the owner of a
          project it has all the permissions on it.
          In the event where the user has been deleted that field might be empty.
      cloud_provider:
        $ref: '#/definitions/CloudProvider'
        description: |
          The cloud provider object that this project is using.
          In the event where the cloud provider is not yet defined/supported
          that field might be empty.
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
      config_repository_id:
        type: integer
        format: uint32
        minimum: 1
  NewProject:
    title: Create Project
    description: The entity which represents the information of a new project.
    type: object
    required:
      - canonical
      - name
      - pipelines
      - config_repository_id
      - service_catalog_ref
    properties:
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      name:
        type: string
        minLength: 3
      service_catalog_ref:
        description: >-
          It's the ref of the Service Catalog, like 'cycloidio:stack-magento'
        type: string
      description:
        type: string
        description: |
          A description regarding the project to help identify/remember details,
          implementation, purpose, etc.
      owner:
        type: string
        description: |
          User canonical that owns this project. If omitted then the person
          creating this project will be assigned as owner. When a user is the
          owner of a project it has all the permissions on it.
      cloud_provider:
        type: string
        description: |
          The cloud provider canonical that this project is using - between the
          supported ones.
        enum:
          - aws
          - google
          - azurerm
          - flexibleengine
          - openstack
      pipelines:
        type: array
        minItems: 1
        items:
          $ref: '#/definitions/NewPipeline'
      config_repository_id:
        type: integer
        format: uint32
  UpdateProject:
    title: Update Project
    description: >-
      The entity which represents the information of the project to be updated.
    type: object
    required:
      - name
      - owner
      - service_catalog_ref
    properties:
      name:
        type: string
        minLength: 3
      description:
        type: string
      environments:
        type: array
        items:
          pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
          type: string
      service_catalog_ref:
        description: >-
          It's the ref of the Service Catalog, like 'cycloidio:stack-magento'
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+:[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
        type: string
      owner:
        type: string
        description: |
          User canonical that owns this project. Only the owner or an
          organization admin can update such a field. When a user is the owner
          of a project it has all the permission on it.
      cloud_provider:
        type: string
        description: |
          The cloud provider canonical that this project is using - between the
          supported ones.
        enum:
          - aws
          - google
          - azurerm
          - flexibleengine
          - openstack
      config_repository_id:
        type: integer
        format: uint32
        description: |
          The config_repository_id points to new Config Repository the project
          will be using. If this value is filled and it's different from the
          current one, the whole project will be migrated to new CR, meaning
          configuration files will also be moved.
          If the project didn't has config_repository_id set, this action will
          only attach the project to the CR, it won't create/move any files.
          In order to be sure everything works, make sure the
          config_repository_id is pointing at the CR with the same git
          repository that was used during project creation.
  ConfigFile:
    title: SC config file
    description: >-
      This object contains SC config file name and its content
    type: object
    required:
      - path
      - content
    properties:
      path:
        type: string
      content:
        type: string
        format: byte
  FormsValidation:
    title: Forms validation
    description: >-
      This object contains a forms file's content, eg:
      ```
        useCase1:
          terraform:
            group1:
              - entity1
              - entity2
              - entity3
            group2:
              - entity4
        useCase2:
          terraform:
            group1:
              - entity1
              - entity2
              - entity3
            group2:
              - entity4
          ansible:
            group3:
              - entity5
              - entity6
      ```
    type: object
    required:
      - form_file
    properties:
      form_file:
        type: object
        $ref: '#/definitions/FormsFile'
  FormsValidationResult:
    title: FormsValidationResult
    description: The result of the validation, if errors is empty means that is correct
    required:
      - errors
    properties:
      errors:
        type: array
        items:
          type: string
  FormsFile:
    title: Forms File
    description: >-
      The first key level are the use-cases matching the ones of the .cycloid.yml file
    type: object
    additionalProperties:
      type: object
      description: >-
        The second key level are the technologies that will be configured
      additionalProperties:
        type: object
        description: >-
          The third key level are the groups defined to ease the presentaiton/separation of purposes during configuration
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/FormEntity'
  FormEntity:
    title: Forms file's Entity
    description: >-
      This describes all the attributes possible to configure a form's variable
    type: object
    required:
      - key
      - name
      - type
      - widget
    properties:
      key:
        type: string
        description: >-
          The key is the name of variables for the ansible/pipeline/terraform technologies.
          If this is a first level variable then: keyX. If you have multiple terraform modules
          then use: module.Y.keyX to help identify the unique variable.
      name:
        type: string
        description: >-
          The name of the variable displayed to the user
      widget:
        type: string
        description: >-
          The widget used to display the data in the most suitable way
        enum:
          - auto_complete
          - dropdown
          - radios
          - slider_list
          - slider_range
          - number
          - simple_text
          - text_area
          - cy_cred
          - cy_scs
          - cy_crs
          - cy_branch
      type:
        type: string
        description: >-
          The type of data handled - used to manipulate/validate the input, and also validate default/values
        enum:
          - integer
          - string
          - array
          - boolean
          - map
      required:
        type: boolean
        description: >-
          Whether or not the field is required - that helps distinguish "optional" variables
          and allows to set default if necessary and present
      default:
        type: object
        description: >-
          The default to assign to the variable if nothing is returned
          and that the varialbe is required
      unit:
        type: string
        description: >-
          The unit to be displayed for the variable, helping to know what's
          being manipulated: amount of servers, Go, users, etc.
      description:
        type: string
        description: >-
          The description helping users understand the interest/impact of such variable/change
      values:
        type: array
        items:
          type: object
        description: >-
          Values allowed, e.g. [1, 10, 20, 50], this can be of any type but boolean.
          Note: In case of SliderRange only 2 values should be provided: [min, max], in case
          of providing them the other way around some validation test will fail.
      source:
        type: string
        description: >-
          The source is only used for the branch widget to reference the key of the
          SCS or CR that the branches have to be read from. Because a branch in itself
          cannot exist, the user has to indicate from which SCS or CR he wants to retrieve
          branches. The source has to reference the key of an entity of a widget: 'CyCRS' or 'CySCS'
  SCConfig:
    title: SC Config
    description: >-
      This entity is being used for automatic creation of SC config
    type: object
    required:
      - configs
    properties:
      configs:
        type: array
        description: Config files that will be created
        items:
          $ref: '#/definitions/ConfigFile'
  FormInputs:
    title: Forms inputs
    description: |
      The array of variables set by the user via the forms with the associated environment
      canonical and use case upon project creation.
    required:
      - service_catalog_ref
      - inputs
    properties:
      service_catalog_ref:
        description: |
          It's the ref of the Service Catalog, like 'cycloidio:stack-magento'
        type: string
      inputs:
        type: array
        description: |
          The variables set within a form with the corresponding environment
          canonical and use case
        items:
          $ref: '#/definitions/FormInput'
  FormInput:
    title: Forms input
    description: |
      The variables set within a form with the corresponding
      environment canonical and use case
    required:
      - use_case
      - environment_canonical
      - vars
    properties:
      use_case:
        type: string
        description: The use-case to load
      environment_canonical:
        type: string
        description: The environment canonical
      vars:
        type: object
        description: |
          Forms variables filled, the format to respect is as follows
          {
            "ansible": {
              "key1": "value1",
              "key2": "value2",
              "key3": "value3"
            },
            "terraform": {
              "key1": "value1",
              "key2": "value2",
              "key3": "value3"
            },
            "pipeline": {
              "key1": "value2"
            }
          }
          Keys being the variable name that you want to see substituted/defined.
  UserAccountEmail:
    title: User's email
    description: The email address of a user.
    required:
      - email
      - verified
      - purpose
    properties:
      email:
        type: string
        format: email
      verified:
        type: boolean
      purpose:
        description: >-
          This values are set by the application to indicate the purpose of the
          email address. At least there is always one which is the primary.
        type: string
      created_at:
        type: integer
        format: int64
        minimum: 0
  UpdateUserAccountEmail:
    title: User's email
    description: The email address of a user to be updated.
    required:
      - email
      - purpose
    properties:
      email:
        type: string
        format: email
      purpose:
        description: >-
          This values are set by the application to indicate the purpose of the
          email address. At least there is always one which is the primary.
        type: string
  UserAccount:
    title: User's account
    description: >-
      The user's account contains information related with the authenticated
      user.
    required:
      - created_at
      - updated_at
      - last_login
      - emails
      - username
      - given_name
      - family_name
      - locale
    properties:
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
      last_login:
        type: integer
        format: int64
        minimum: 0
      emails:
        type: array
        items:
          $ref: '#/definitions/UserAccountEmail'
        minItems: 1
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      given_name:
        type: string
        minLength: 2
      family_name:
        type: string
        minLength: 2
      picture_url:
        type: string
        format: uri
      locale:
        description: The local that the user prefer.
        type: string
        pattern: '^[a-z]{2}(?:-[a-z][a-z])?$'
      guide:
        $ref: '#/definitions/UserGuide'
  UpdateUserAccount:
    title: Update user's account
    description: >-
      The user's account information of the authenticated user to be updated.
      Emails and password can be omitted if they don't have to be updated,
      because we can now if they have been sent or not although go-swagger
      doesn't currently support `PATCH` updates (see
      [comment](https://github.com/cycloidio/youdeploy-http-api/pull/71#issuecomment-321894076)),
      we do for this one with this 2 properties because they are good for the
      user, specially for the `password_update` one. In order to detect if they
      have been sent or not, we check if the length of array of emails is 0 (if
      it's sent, then the length MUST be greater than 0 as specified with
      minItems) and in case of the `password_update` field if it's `nil` or not.
      If the 'picture_url' is not send then it's removed from the user as it implies that
      it has deleted it, and also because we do not support partial updates
    required:
      - username
      - given_name
      - family_name
      - locale
    properties:
      emails:
        type: array
        items:
          $ref: '#/definitions/UpdateUserAccountEmail'
        minItems: 1
      password_update:
        description: The update password requires to confirm the old password.
        required:
          - current
          - new
        properties:
          current:
            type: string
            format: password
            minLength: 8
          new:
            type: string
            format: password
            minLength: 8
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      given_name:
        type: string
        minLength: 2
      family_name:
        type: string
        minLength: 2
      picture_url:
        type: string
        format: uri
      locale:
        description: The local that the user prefer.
        type: string
        pattern: '^[a-z]{2}(?:-[a-z][a-z])?$'
  MemberOrg:
    title: Member of an organization
    description: Member is a user who is associated to an organization.
    type: object
    required:
      - id
      - username
      - given_name
      - family_name
      - email
      - created_at
      - role
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      given_name:
        type: string
        minLength: 2
      family_name:
        type: string
        minLength: 2
      email:
        description: user email
        type: string
        format: email
      picture_url:
        type: string
        format: uri
      created_at:
        description: When the user became a member.
        type: integer
        format: int64
        minimum: 0
      updated_at:
        description: When the user had the role modified.
        type: integer
        format: int64
        minimum: 0
      invited_at:
        description: >-
            When the user had been invited to join as a member.
            When not present, the user is already a member, so she/he has
            verified her/his invitation.
        type: integer
        format: int64
        minimum: 0
      role:
        $ref: '#/definitions/Role'
  MemberTeam:
    title: Member of a team
    description: Member is a user who is associated to a team.
    type: object
    required:
      - id
      - username
      - given_name
      - family_name
      - email
      - created_at
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      given_name:
        type: string
        minLength: 2
      family_name:
        type: string
        minLength: 2
      email:
        description: user email
        type: string
        format: email
      picture_url:
        type: string
        format: uri
      created_at:
        description: When the user became a member.
        type: integer
        format: int64
        minimum: 0
      updated_at:
        description: When the user had the role modified.
        type: integer
        format: int64
        minimum: 0
  MemberAssignation:
    title: Member assignation
    description: >-
      Member is a user who is associated to an entity of the system. The user is
      newly assigned or reassigned for updating is data.
    required:
      - role_id
    properties:
      role_id:
        description: The role of the member.
        type: integer
        format: uint32
        minimum: 1
  NewTeamMemberAssignation:
    title: Assign user
    description: Member is a user assigned to a Team
    required:
      - username
    properties:
      username:
        description: Assign user by username
        type: string
        format: string
  NewMemberInvitation:
    title: Invite user
    description: >-
      Send an invitation to a user to something. Something can be to create an
      account, to join to an organization, to join to a team, etc. API operation
      determines the operation to perform.
    required:
      - email
      - role_id
    properties:
      email:
        description: Invite user by email
        type: string
        format: email
      role_id:
        description: The role of the member.
        type: integer
        format: uint32
        minimum: 1
  NewAccount:
    title: Sign up
    description: >-
        Create a new user account.
    required:
      - username
      - email
      - password
      - given_name
      - family_name
    properties:
      invitation_token:
        type: string
        minLength: 5
        description: >-
            The field is used when a user signup from an invitation to an organization.
            Giving the token, the created user will be automatically added to the organization.
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      email:
        type: string
        format: email
      password:
        type: string
        format: password
        minLength: 8
      given_name:
        type: string
        minLength: 2
      family_name:
        type: string
        minLength: 2
  UserPasswordResetReq:
    title: User password reset request
    description: >-
      Request to send a token for allowing the user to reset its current
      password.
    required:
      - email
    properties:
      email:
        description: the email address must be the primary email of the user.
        type: string
        format: email
  UserPasswordResetUpdate:
    title: User password reset update
    description: >-
      Reset the current user password to the one provided.
      The user must have a valid token for the reseting password action.
    required:
      - password
      - token
    properties:
      password:
        type: string
        format: password
        minLength: 8
      token:
        type: string
        minLength: 1
  UserLogin:
    title: Log in
    description: >-
      Validate the user to access to the application. The user can login with
      the primary email address or with username.
    required:
      - password
    maxProperties: 2
    minProperties: 2
    properties:
      email:
        type: string
        format: email
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      password:
        type: string
        format: password
        minLength: 8
  UserSession:
    title: User's session
    description: The JWT which allows the user to access to the application.
    required:
      - token
    properties:
      token:
        type: string
  UserOAuth:
    title: User's OAuth information
    description: The User OAuth information, if it's on the platform it'll return the 'token' to login, if not the 'user' to show to the user
    properties:
      user:
        type: object
        $ref: '#/definitions/NewOAuthUser'
      token:
        description: Is the JWT of the platform user
        type: string
  NewOAuthUser:
    title: User's OAuth information
    description: The User OAuth information
    required:
      - email
      - given_name
      - username
      - social_id
    properties:
      given_name:
        type: string
      family_name:
        type: string
      email:
        type: string
        format: email
      username:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      picture_url:
        type: string
        format: uri
      social_id:
        type: string
  NewPipeline:
    title: Create Pipeline
    description:
      The entity which represents a new pipeline to create in the
      application.
    type: object
    required:
      - pipeline_name
      - passed_config
      - environment
    properties:
      pipeline_name:
        type: string
        minLength: 3
        maxLength: 50
        pattern: ^[a-z0-9]+[a-z0-9\-._]+[a-z0-9]+$
      passed_config:
        type: string
      yaml_vars:
        type: string
      check_credentials:
        description: Validate credentials manager variables in the pipeline config.
        type: boolean
      environment:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
      use_case:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  UpdatePipeline:
    title: Update Pipeline
    description:
      The entity which represents a new pipeline config to update in the
      application.
    type: object
    required:
      - passed_config
    properties:
      passed_config:
        type: string
      yaml_vars:
        type: string
      check_credentials:
        type: boolean
  GroupConfig:
    title: GroupConfig
    description: The entity which represents pipeline group config
    type: object
    required:
      - name
    properties:
      name:
        type: string
      jobs:
        type: array
        items:
          type: string
      resources:
        type: array
        items:
          type: string
  TaskConfig:
    title: TaskConfig
    description: The configuration of a concourse task.
    type: object
    properties:
      platform:
        type: string
      tags:
        type: array
        items:
          type: string
      image:
        type: string
      params:
        type: object
        additionalProperties:
          type: string
      run:
        type: object
        $ref: '#/definitions/TaskRunConfig'
      inputs:
        type: array
        items:
          $ref: '#/definitions/TaskInputConfig'
  TaskRunConfig:
    title: TaskRunConfig
    description: The configuration of a concourse task-run.
    type: object
    properties:
      path:
        type: string
        minLength: 3
      args:
        type: array
        items:
          type: string
  TaskInputConfig:
    title: TaskInputConfig
    description: The configuration of inputs for concourse tasks.
    type: object
    required:
      - name
    properties:
      name:
        type: string
      path:
        type: string
  PlanConfig:
    title: PlanConfig
    description: The plan configuration when creating new build.
    type: object
    properties:
      conditions:
        type: array
        items:
          type: string
      raw_name:
        type: string
      do:
        type: array
        items:
          $ref: '#/definitions/PlanConfig'
      aggregate:
        type: array
        items:
          $ref: '#/definitions/PlanConfig'
      get:
        type: string
      passed:
        type: array
        items:
          type: string
      raw_trigger:
        type: boolean
      put:
        type: string
      resource:
        type: string
      task:
        type: string
      privileged:
        type: boolean
      taskConfigPath:
        type: string
      taskConfig:
        $ref: '#/definitions/TaskConfig'
      params:
        type: object
        additionalProperties:
          type: object
  PublicPlan:
    title: PublicPlan
    description: The public plan returned requesting a build plan.
    type: object
    required:
      - schema
      - plan
    properties:
      schema:
        type: string
      plan:
        type: object
  Plan:
    title: Plan
    description: The plan is what represent a concourse build.
    type: object
    required:
      - id
    properties:
      id:
        type: string
      attempts:
        type: array
        items:
          type: integer
          format: uint32
      aggregate:
        type: string
      do:
        type: array
        items:
          $ref: '#/definitions/Plan'
      get:
        $ref: '#/definitions/GetPlan'
      put:
        $ref: '#/definitions/PutPlan'
      task:
        $ref: '#/definitions/TaskPlan'
      ensure:
        $ref: '#/definitions/EnsurePlan'
      on_success:
        $ref: '#/definitions/OnSuccessPlan'
      on_failure:
        $ref: '#/definitions/OnFailurePlan'
      try:
        $ref: '#/definitions/TryPlan'
      timeout:
        $ref: '#/definitions/TimeoutPlan'
      retry:
        type: array
        items:
          $ref: '#/definitions/Plan'
  GetPlan:
    title: GetPlan
    description: The plan to get before running another one.
    type: object
    required:
      - type
      - resource
      - source
    properties:
      type:
        type: string
      name:
        type: string
      resource:
        type: string
      source:
        type: object
        additionalProperties:
          type: object
      params:
        type: object
        additionalProperties:
          type: object
      version:
        type: object
        additionalProperties:
          type: string
      version_from:
        type: string
      tags:
        type: array
        items:
          type: string
      versioned_resource_types:
        type: array
        items:
          $ref: '#/definitions/VersionedResourceType'
  PutPlan:
    title: PutPlan
    description: The put plan following a plan.
    type: object
    required:
      - type
      - resource
      - source
    properties:
      type:
        type: string
      name:
        type: string
      resource:
        type: string
      source:
        type: object
        additionalProperties:
          type: object
      params:
        type: object
        additionalProperties:
          type: object
      tags:
        type: array
        items:
          type: string
      versioned_resource_types:
        type: array
        items:
          $ref: '#/definitions/VersionedResourceType'
  TaskPlan:
    title: TaskPlan
    description: The task plan.
    type: object
    required:
      - privileged
    properties:
      name:
        type: string
      privileged:
        type: boolean
      tags:
        type: array
        items:
          type: string
      config_path:
        type: string
      config:
        $ref: '#/definitions/TaskConfig'
      params:
        type: object
        additionalProperties:
          type: object
      input_mapping:
        type: object
        additionalProperties:
          type: string
      output_mapping:
        type: object
        additionalProperties:
          type: string
      image_artifact_name:
        type: string
      versioned_resource_types:
        type: array
        items:
          $ref: '#/definitions/VersionedResourceType'
  EnsurePlan:
    title: EnsurePlan
    description: The plan to ensure to be run.
    type: object
    required:
      - step
      - next
    properties:
      step:
        $ref: '#/definitions/Plan'
      next:
        $ref: '#/definitions/Plan'
  OnSuccessPlan:
    title: OnSuccessPlan
    description: The plan definition when the action has been successful.
    type: object
    required:
      - step
      - next
    properties:
      step:
        $ref: '#/definitions/Plan'
      next:
        $ref: '#/definitions/Plan'
  OnFailurePlan:
    title: OnFailurePlan
    description: The plan definition when the action has failed.
    type: object
    required:
      - step
      - next
    properties:
      step:
        $ref: '#/definitions/Plan'
      next:
        $ref: '#/definitions/Plan'
  TryPlan:
    title: EnsurePlan
    description: The plan to ensure to be run.
    type: object
    required:
      - step
      - next
    properties:
      step:
        $ref: '#/definitions/Plan'
      next:
        $ref: '#/definitions/Plan'
  TimeoutPlan:
    title: EnsurePlan
    description: The plan to ensure to be run.
    type: object
    required:
      - step
      - next
    properties:
      step:
        $ref: '#/definitions/Plan'
      next:
        $ref: '#/definitions/Plan'
  VersionedResourceType:
    title: VersionedResourceType
    description: The versioned resources type.
    type: object
    required:
      - id
      - name
      - type
      - source
      - privileged
      - tags
      - version
    properties:
      id:
        type: integer
        format: uint32
      name:
        type: string
      type:
        type: string
      source:
        type: object
        additionalProperties:
          type: object
      privileged:
        type: boolean
      tags:
        type: object
        additionalProperties:
          type: string
      version:
        type: object
        additionalProperties:
          type: string
  Job:
    title: Job
    description: The entity which represents a job output in the application.
    type: object
    required:
      - id
      - name
      - next_build
      - finished_build
      - inputs
      - outputs
      - groups
    properties:
      id:
        type: integer
        format: uint64
      name:
        type: string
      paused:
        type: boolean
      first_logged_build_id:
        type: integer
        format: int64
      disable_manual_trigger:
        type: boolean
      next_build:
        $ref: '#/definitions/Build'
        x-nullable: true
      finished_build:
        $ref: '#/definitions/Build'
      transition_build:
        $ref: '#/definitions/Build'
      inputs:
        type: array
        items:
          $ref: '#/definitions/JobInput'
      outputs:
        type: array
        items:
          $ref: '#/definitions/JobOutput'
      groups:
        type: array
        items:
          type: string
  JobInput:
    title: JobInput
    description: The entity which represents a job input in the application.
    type: object
    required:
      - name
      - resource
      - trigger
    properties:
      name:
        type: string
      resource:
        type: string
      passed:
        type: array
        items:
          type: string
      trigger:
        type: boolean
      version:
        $ref: '#/definitions/VersionConfig'
      params:
        type: object
        additionalProperties:
          type: object
      tags:
        type: array
        items:
          type: string
  JobOutput:
    title: JobOutput
    description: The entity which represents a job output in the application.
    type: object
    required:
      - name
      - resource
    properties:
      name:
        type: string
      resource:
        type: string
  ClearTaskCache:
    title: ClearTaskCache
    description: The entity which represents number of cache cleared for a task.
    type: object
    required:
      - caches_removed
    properties:
      caches_removed:
        type: integer
  VersionConfig:
    title: VersionConfig
    description: The entity which represents a vesion configuration in the application.
    type: object
    properties:
      every:
        type: boolean
      latest:
        type: boolean
      pinned:
        type: object
        additionalProperties:
          type: string
  Resource:
    title: Resouce
    description: The entity which represents a resource in the application.
    type: object
    required:
      - name
      - type
    properties:
      name:
        type: string
      type:
        type: string
      icon:
        type: string
      failing_to_check:
        type: boolean
      check_setup_error:
        type: string
      check_error:
        type: string
      last_checked:
        type: integer
        format: int64
      pin_comment:
        type: string
      pinned_in_config:
        type: boolean
      pinned_version:
        type: object
        additionalProperties:
          type: string
  Pipeline:
    title: Pipeline
    description: |
      The entity which represents a pipeline in the application.
    type: object
    required:
      - id
      - name
      - paused
      - public
      - groups
      - team_name
      - environment
      - project
      - use_case
    properties:
      id:
        type: integer
        format: uint64
      name:
        type: string
      paused:
        type: boolean
      public:
        type: boolean
      groups:
        type: array
        items:
          $ref: '#/definitions/GroupConfig'
      team_name:
        type: string
      environment:
        type: string
        pattern: '^[\da-zA-Z]+(?:(?:[\da-zA-Z\-._]+)?[\da-zA-Z])?$'
      project:
        $ref: '#/definitions/Project'
      use_case:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
  PipelineVariables:
    title: Pipeline variables
    description: The entity which contains pipeline's variables.
    type: object
    required:
      - yaml_vars
      - has_saved_yaml_vars
    properties:
      yaml_vars:
        type: string
      has_saved_yaml_vars:
        description: |
          The has_saved_yaml_vars specifies whether the returned vars are from
          the saved ones or the sample ones. If the has_saved_yaml_vars is true,
          it means that the saved have been returned.
        type: boolean
  Worker:
    title: Worker
    description: The entity which represents a worker in the application.
    type: object
    required:
      - name
      - state
      - version
      - platform
      - ephemeral
      - active_containers
      - active_volumes
      - start_time
    properties:
      name:
        type: string
      state:
        type: string
      version:
        type: string
      platform:
        type: string
      team:
        type: string
      ephemeral:
        type: boolean
      active_containers:
        type: integer
        format: int64
      active_volumes:
        type: integer
        format: int64
      start_time:
        type: integer
        format: int64
      tags:
        type: array
        items:
          type: string
  BuildInputsOutputs:
    title: BuildInputsOutputs
    description: Represent the resources input/output related to a build
    type: object
    required:
      - inputs
      - outputs
    properties:
      inputs:
        type: array
        items:
          $ref: '#/definitions/PublicBuildInput'
      outputs:
        type: array
        items:
          $ref: '#/definitions/PublicBuildOutput'
  PublicBuildOutput:
    title: PublicBuildOutput
    description: Represents the information of a build output
    type: object
    required:
      - name
      - version
    properties:
      name:
        type: string
      version:
        type: object
        additionalProperties:
          type: string
  PublicBuildInput:
    title: PublicBuildInput
    description: Represent the information of a build input
    type: object
    required:
      - name
      - version
      - pipeline_id
      - first_occurrence
    properties:
      name:
        type: string
      version:
        type: object
        additionalProperties:
          type: string
      pipeline_id:
        type: integer
        format: int64
      first_occurrence:
        type: boolean
  MetadataField:
    title: MetadataField
    description: Represent the metadata of a build input
    type: object
    required:
      - name
      - value
    properties:
      name:
        type: string
      value:
        type: string
  CIVersion:
    title: CIVersion
    description: Represent a version of a resource
    type: object
    additionalProperties:
      type: string
  PinComment:
    title: PinComment
    description: Represents a pin comment of a resource
    type: object
    required:
      - pin_comment
    properties:
      pin_comment:
        type: string
  ResourceVersion:
    title: ResourceVersion
    description: Represent the outputs of a job
    type: object
    required:
      - id
      - version
      - enabled
    properties:
      id:
        type: integer
        format: uint64
      metadata:
        type: array
        items:
          $ref: '#/definitions/MetadataField'
      version:
        type: object
        additionalProperties:
          type: string
      enabled:
        type: boolean
  ResourceCheck:
    title: ResourceCheck
    description: The entity which represents a resource check in the application.
    type: object
    properties:
      id:
        type: integer
      status:
        type: string
      check_error:
        type: string
      create_time:
        type: integer
        format: int64
      start_time:
        type: integer
        format: int64
      end_time:
        type: integer
        format: int64
  PipelineDiffRecord:
    title: PipelineDiffRecord
    description: Represents a diff record of a pipeline diff
    type: object
    required:
      - line
      - delta_type
    properties:
      line:
        type: string
        description: Represents a text line in a pipeline configuration
      delta_type:
        type: string
        description: Represents the type of delta (added, removed, changed, equals) for the text line
  PipelineDiff:
    title: PipelineDiff
    description: Represents a diff element of a PipelineDiffs.
    type: object
    required:
      - name
      - status
      - diff
    properties:
      name:
        type: string
        description: Represents the name of the element in a pipeline. For example the job name for jobs section
      status:
        description: Represents the status of the element (added, removed, changed)
        type: string
        enum:
          - added
          - removed
          - changed
      diff:
        description: Represents the diff of all configuration line for an element
        type: array
        items:
          $ref: '#/definitions/PipelineDiffRecord'
  PipelineDiffs:
    title: PipelineDiffs
    description: Represents the diffs between two pipelines
    type: object
    properties:
      jobs:
        type: array
        items:
          $ref: '#/definitions/PipelineDiff'
      groups:
        type: array
        items:
          $ref: '#/definitions/PipelineDiff'
      resources:
        type: array
        items:
          $ref: '#/definitions/PipelineDiff'
      resource_types:
        type: array
        items:
          $ref: '#/definitions/PipelineDiff'
  Build:
    title: Build
    description: The information relative to a build.
    type: object
    required:
      - id
      - team_name
      - name
      - status
      - api_url
    properties:
      id:
        type: integer
        format: uint64
      team_name:
        type: string
      name:
        type: string
      status:
        type: string
      job_name:
        type: string
      api_url:
        type: string
      pipeline_name:
        type: string
      start_time:
        type: integer
        format: int64
      end_time:
        type: integer
        format: int64
      reap_time:
        type: integer
        format: int64
  Role:
    title: Role access control
    description: >-
      Role represents the authorization level that an user has to access to a
      specific entity of the system. A role contains a list of policies to
      define the access control. Note not all the entities supports roles access
      control; see the API endpoints to know which entities support them.
    required:
      - id
      - name
      - description
      - policies
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      name:
        type: string
        minLength: 3
        maxLength: 30
      description:
        type: string
      policies:
        type: array
        items:
          $ref: '#/definitions/Policy'
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  NewRole:
    title: New role access control
    description: >-
      New role represents the authorization level that a user has access to.
      A role contains a list of policies to define the access control. Note
      not all the entities supports roles access control; see the API endpoints
      to know which entities support them.
    required:
      - name
      - policies
    properties:
      name:
        type: string
        minLength: 3
        maxLength: 30
      description:
        type: string
      policies:
        type: array
        items:
          $ref: '#/definitions/PolicyReference'
  PolicyReference:
    title: PolicyReference
    description: >-
      PolicyReference represents an existing or new permission or constraint to
      access to an entity of the system. A policy is aggregated into roles in
      order to be applied.
    required:
      - id
      - entities
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      entities:
        type: array
        items:
          type: string
  Policy:
    title: Policy
    description: >-
      Policy represents a permission or constraint to access to an entity of the
      system. A policy is aggregated into roles in order to be applied.
    required:
      - id
      - code
      - description
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      code:
        type: string
        minLength: 5
        maxLength: 60
        pattern: '(?:[a-z]+_)*[a-z]+(?::(?:[a-z]+_)*[a-z]+)*$'
      entities:
        type: array
        items:
          type: string
      description:
        type: string
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  CloudProvider:
    title: Cloud Provider
    description: >-
      CloudProvider represents a cloud provider. Those cloud providers are
      used to identify the scope of projects and/or stacks.
    required:
      - name
      - canonical
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      abbreviation:
        type: string
        minLength: 2
        maxLength: 60
      name:
        type: string
        minLength: 2
        maxLength: 60
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  ErrorPayload:
    title: Error Payload
    description: >
      The payload used by the server to response to the client with an Error,
      those errors could be any of the ones listed [here](https://github.com/cycloidio/youdeploy-http-api/blob/develop/errors/code.go#L10), only
      the CODE of the error is the one that is guaranteed to not change between
      the same major version, the MESSAGE could change.
    required:
      - errors
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorDetailsItem'
  ErrorDetailsItem:
    title: Error details item
    description: Represents an item of the list of details of an error.
    required:
      - message
      - code
    properties:
      message:
        type: string
      code:
        type: string
      details:
        type: array
        items:
          type: string
  NewServiceCatalog:
    title: Service Catalog
    description: Represents the Service Catalog item
    required:
      - name
      - canonical
      - author
      - description
      - keywords
      - service_catalog_source_id
    properties:
      name:
        type: string
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      author:
        type: string
      description:
        type: string
      keywords:
        type: array
        items:
          type: string
      image:
        type: string
        format: uri
      status:
        type: string
      service_catalog_source_id:
        type: integer
        format: uint32
        minimum: 1
      technologies:
        type: array
        items:
          $ref: '#/definitions/ServiceCatalogTechnology'
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  ServiceCatalog:
    title: Service Catalog
    description: Represents the Service Catalog item
    required:
      - id
      - name
      - canonical
      - author
      - description
      - keywords
      - ref
      - service_catalog_source_id
      - trusted
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      name:
        type: string
      canonical:
        type: string
        minLength: 3
        maxLength: 30
        pattern: '^[a-z0-9]+[a-z0-9\-_]+[a-z0-9]+$'
      author:
        type: string
      description:
        type: string
      keywords:
        type: array
        items:
          type: string
      image:
        type: string
        format: uri
      status:
        type: string
      service_catalog_source_id:
        type: integer
        format: uint32
        minimum: 1
      ref:
        type: string
      trusted:
        description: If 'true' the ServiceCatalog is from the main organization and can be trusted.
        type: boolean
      technologies:
        type: array
        items:
          $ref: '#/definitions/ServiceCatalogTechnology'
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  ServiceCatalogTechnology:
    title: ServiceCatalogTechnology
    description: ServiceCatalogTechnology is a Technology of the Service Catalog
    properties:
      technology:
        type: string
      version:
        type: string
  Credential:
    title: Credential
    description: Represents the Credential
    required:
      - id
      - name
      - type
      - raw
      - path
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      name:
        type: string
      type:
        type: string
        enum:
          - ssh
          - aws
          - custom
          - azure
          - azure_storage
          - gcp
          - basic_auth
          - elasticsearch
          - swift
      path:
        type: string
      raw:
        $ref: '#/definitions/CredentialRaw'
      description:
        type: string
      owner:
        $ref: '#/definitions/MemberOrg'
        description: |
          Organization member that owns this credential. When a user is the owner of a
          credential he has all the permissions on it.
          In the event where the user has been deleted that field might be empty.
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  CredentialSimple:
    title: Credential Simple
    description: Represents the Credential without the raw and owner
    required:
      - id
      - name
      - type
      - path
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      name:
        type: string
      type:
        type: string
        enum:
          - ssh
          - aws
          - custom
          - azure
          - azure_storage
          - gcp
          - basic_auth
          - elasticsearch
          - swift
      path:
        type: string
      description:
        type: string
  CreateCredential:
    title: Credential
    description: Represents the Credential
    required:
      - name
      - type
      - raw
      - path
    properties:
      name:
        type: string
      type:
        type: string
        enum:
          - ssh
          - aws
          - custom
          - azure
          - azure_storage
          - gcp
          - basic_auth
          - elasticsearch
          - swift
      path:
        type: string
        pattern: '[a-zA-z0-9_\-./]'
      raw:
        $ref: '#/definitions/CredentialRaw'
      description:
        type: string
      owner:
        type: string
        description: |
          User canonical that owns this credential. If omitted then the person creating this
          credential will be assigned as owner. When a user is the owner of a credential he has
          all the permissions on it.
  UpdateCredential:
    title: Credential
    description: Represents the Credential
    required:
      - name
      - type
      - raw
      - path
      - description
      - owner
    properties:
      name:
        type: string
      type:
        type: string
        enum:
          - ssh
          - aws
          - custom
          - azure
          - azure_storage
          - gcp
          - basic_auth
          - elasticsearch
      path:
        type: string
        pattern: '[a-zA-z0-9_\-./]'
      raw:
        $ref: '#/definitions/CredentialRaw'
      description:
        type: string
      owner:
        type: string
        description: |
          User canonical that owns this credential. When a user is the owner of a credential he has
          all the permissions on it.

  CredentialRaw:
    title: Credential Raw
    description: All the possible fields inside it
    properties:
      raw:
        type: object
      ssh_key:
        type:  string
      access_key:
        type:  string
      secret_key:
        type:  string
      account_name:
        type:  string
      json_key:
        type:  string
      username:
        type: string
      password:
        type: string
      client_id:
        type: string
      client_secret:
        type: string
      subscription_id:
        type: string
      tenant_id:
        type: string
      ca_cert:
        type: string
      domain_id:
        type: string
      auth_url:
        type: string
  Preparation:
    title: Preparation
    required:
      - build_id
      - paused_pipeline
      - paused_job
      - max_running_builds
      - inputs
      - inputs_satisfied
      - missing_input_reasons
    properties:
      build_id:
        type: string
      paused_pipeline:
        type: string
      paused_job:
        type: string
      max_running_builds:
        type: string
      inputs:
        type: object
      inputs_satisfied:
        type: object
      missing_input_reasons:
        type: object
  CreateServiceCatalogSource:
    title: ServiceCatalogSource
    required:
      - name
      - url
      - branch
    properties:
      name:
        type: string
      url:
        type: string
        pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
      branch:
        type: string
      credential_id:
        type: integer
        format: uint32
        minimum: 1
  UpdateServiceCatalogSource:
    title: UpdateServiceCatalogSource
    required:
      - name
      - url
    properties:
      name:
        type: string
      url:
        type: string
        pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
      branch:
        type: string
      credential_id:
        type: integer
        format: uint32
        minimum: 1
  ServiceCatalogChanges:
    title: ServiceCatalogChanges
    description: >-
      Represents list of service catalogs changes during the refresh of a service
      catalog source.
    required:
      - created
      - updated
      - deleted
    properties:
      created:
        type: array
        items:
          $ref: '#/definitions/ServiceCatalog'
      updated:
        type: array
        items:
          $ref: '#/definitions/ServiceCatalog'
      deleted:
        type: array
        items:
          $ref: '#/definitions/ServiceCatalog'
  ServiceCatalogSource:
    title: ServiceCatalogSource
    required:
      - id
      - name
      - url
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      name:
        type: string
      url:
        type: string
        pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
      branch:
        type: string
      credential_id:
        type: integer
        format: uint32
        minimum: 1
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
      changes:
        $ref: '#/definitions/ServiceCatalogChanges'
      service_catalogs:
        type: array
        items:
          $ref: '#/definitions/ServiceCatalog'
  CreateConfigRepository:
    title: CreateConfigRepository
    required:
      - name
      - url
      - credential_id
      - default
      - branch
    properties:
      name:
        type: string
      url:
        type: string
        pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
      branch:
        type: string
      default:
        type: boolean
      credential_id:
        type: integer
        format: uint32
        minimum: 1
  UpdateConfigRepository:
    title: UpdateConfigRepository
    required:
      - name
      - url
      - credential_id
      - default
      - branch
    properties:
      name:
        type: string
      url:
        type: string
        pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
      branch:
        type: string
      default:
        type: boolean
      credential_id:
        type: integer
        format: uint32
        minimum: 1
  ConfigRepository:
    title: ConfigRepository
    required:
      - id
      - name
      - url
      - default
    properties:
      id:
        type: integer
        format: uint32
        minimum: 1
      name:
        type: string
      url:
        type: string
        pattern: '(?:http|https|git|ssh|git@[-\w.]+):(\/\/)?(.*?)(\.git)?(\/?|\#[-\d\w._]+?)$'
      branch:
        type: string
      credential_id:
        type: integer
        format: uint32
        minimum: 1
      default:
        type: boolean
      created_at:
        type: integer
        format: int64
        minimum: 0
      updated_at:
        type: integer
        format: int64
        minimum: 0
  AWSInfrastructureResourcesAggregation:
    title: AWS Infrastructure Resources Aggregation
    minProperties: 1
    maxProperties: 12
    properties:
      instances:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      vpcs:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      images:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      security_groups:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      subnets:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      volumes:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      snapshots:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      cache_clusters:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      load_balancers_v1:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      load_balancers_v2:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      db_instances:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
      buckets:
        $ref: '#/definitions/InfrastructureResourcesAggregationItem'
  InfrastructureResourcesAggregationItem:
    title: Infrastructure Resource Aggregation Item
    description: >-
      Contains aggregated data of a single type of an infrastructure resource.
    required:
      - total_amount
    properties:
      total_amount:
        description: The number of items of the specific type of resource.
        type: integer
        format: int32
  AWSInfrastructureResourceInstance:
    title: AWS Infrastructure Instance Resource
    description: >-
      This object contains the items described in the instance data type
      described in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Instance.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceVPC:
    title: AWS Infrastructure VPC Resource
    description: >-
      This object contains the items described in the VPC data type
      described in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Vpc.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceSubnet:
    title: AWS Infrastructure subnet Resource
    description: >-
      This object contains the items described in the subnet data type
      described in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Subnet.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceSecurityGroup:
    title: AWS Infrastructure security group Resource
    description: >-
      This object contains the items described in the security group data type
      described in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_SecurityGroup.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceImage:
    title: AWS Infrastructure image Resource
    description: >-
      This object contains the items described in the image data type described
      in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Image.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceVolume:
    title: AWS Infrastructure volume Resource
    description: >-
      This object contains the items described in the volume data type described
      in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Volume.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceSnapshot:
    title: AWS Infrastructure snapshot Resource
    description: >-
      This object contains the items described in the snapshot data type
      described in https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Snapshot.html
      Tags property is set, for guaranteeing that the respond will always have
      the property of the type array, not allowing null in case that the resource
      doesn't have any, hence an empty array is used in such case.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceElasticacheCluster:
    title: AWS Infrastructure Elasticache cluster Resource
    description: >-
      This object contains the items described in the elasticache cluseter data
      type described in
      https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CacheCluster.html
      but it also contains its associated tags which are documented in the
      properties of this object definition.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceLoadBalancerV1:
    title: AWS Infrastructure load balancer (ELB) Resource
    description: >-
      This object contains the items described in the load balancer (ELB)
      data type described in
      https://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_LoadBalancerDescription.html
      but it also contains its associated tags which are documented in the
      properties of this object definition.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceLoadBalancerV2:
    title: AWS Infrastructure load balancer (ELB v2 or a.k.a ALB) Resource
    description: >-
      This object contains the items described in the load balancer (ELB v2 or
      a.k.a ALB) data type described in
      https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_LoadBalancer.html
      but it also contains its associated tags which are documented in the
      properties of this object definition.
      This object will contain a property named 'Tags' which is of the type
      defined by the schema definition '#/definitions/AWSTags'
  AWSInfrastructureResourceDBInstance:
    title: AWS Infrastructure RDS DB instance Resource
    description: >-
      This object contains the items described in the RDS DB instance data type
      described in
      https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_DBInstance.html
      but it also contains its associated tags which are documented in the
      properties of this object definition.
[...]
